body{
  background-color: #edf2f8;
padding-left: 80px;
padding-right: 80px;
padding-top: 80px;
padding-bottom: 80px;
  margin-left:  50px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 100px;
  color: #ffeeff;
  Font-size: 13px;
  font-family: calibri,sans-serif;
  font-weight: 500, 600;
}
.top-container {
position: relative;
  padding-top: 200px;
  padding-bottom: 200px;
  height: 800px;
}
.firstdiv{
  background-image: url('../images/bg-pattern-quotation.svg') ;
  background-repeat: no-repeat;
  background-position:top right 55px;
  background-size: 15%;
  background-color: #733fc8;
  position: relative;
  padding: 15px;
  margin:13px;
  border-radius: 10px;
display: inline-block;
      resize: both;
      overflow: auto;
      max-height: 700px;
    max-width: 450px;
min-height: 200px;
min-width: 200px;
box-shadow: 5px 5px 5px #aaaaaa;
}
.seconddiv{
  background-color: #49556b;
  position:relative;
  padding: 15px;
  margin:13px;
  min-height: 200px;
  min-width: 210px;
  border-radius: 10px;
display: inline-block;
      resize: both;
      overflow: auto;
      max-height: 600px;
    max-width:200px;
box-shadow: 5px 5px 5px #aaaaaa;
}
.thirddiv{
  color: black;
  background-color: white;
  position:relative;

  padding: 18px;
  margin:13px;
box-shadow: 5px 5px 5px #aaaaaa;
  border-radius: 10px;
display: inline-block;
      resize: both;
      overflow: auto;
      min-height: 200px;
      min-width: 200px;
    max-height: 600px;
  max-width:200px;
}
.fourthdiv{
  background-color: #18202d;
  color: white;
  position:relative;
display: inline-block;
  padding: 15px;
  margin:13px;
  border-radius: 10px;
      resize: both;
      overflow: auto;
      max-height: 400px;
    max-width: 455px;
    min-height: 200px;
    min-width: 200px;
    box-shadow: 5px 5px 5px #aaaaaa;
}
.fifthdiv{
  background-color: white;
  color:black;

  position: absolute;
  float: right;
  padding: 15px;
  margin:13px;
  border-radius: 10px;

      resize: both;
      overflow: auto;
      max-height: 800px;
    max-width: 180px;
    min-height: 400px;
    min-width: 150px;
    box-shadow: 5px 5px 5px #aaaaaa;
}
img {
  border-radius: 50px;
  border: 2px solid grey;
  padding: 2px;
  height: 25px;
  margin: 10px;
  display: inline-block;
  position: absolute;
}
span{

font-size: .6rem;
font-weight:normal;
    margin-left: 4rem;
    margin-top: 4rem;
    display:inline;
}
.firstpara{
  text-align:left;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1rem;
  font-weight: bold;

}
.secondpara{
  text-align:left;
  margin-left: 20px;
  margin-right: 20px;
  font-size:.7rem;

  font-weight: lighter;
}
